<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Animal</key>
	<dict>
		<key>cat</key>
		<array>
			<string>猫</string>
			<string>cat.jpg</string>
			<string>cat</string>
		</array>
		<key>dog</key>
		<array>
			<string>犬</string>
			<string>dog.jpg</string>
			<string>dog</string>
		</array>
		<key>tiger</key>
		<array>
			<string>虎</string>
			<string>tiger.jpg</string>
			<string>tiger</string>
		</array>
		<key>lion</key>
		<array>
			<string>ライオン</string>
			<string>lion.jpg</string>
			<string>lion</string>
		</array>
		<key>fish</key>
		<array>
			<string>魚</string>
			<string>fish.jpg</string>
			<string>fish</string>
		</array>
		<key>kangaroo</key>
		<array>
			<string>カンガルー</string>
			<string>kangaroo.jpg</string>
			<string>kangaroo</string>
		</array>
	</dict>
	<key>Office</key>
	<dict>
		<key>erase</key>
		<array>
			<string>消去する</string>
			<string>erase.jpg</string>
			<string>erase</string>
		</array>
		<key>mouse</key>
		<array>
			<string>マウス</string>
			<string>mouse.jpg</string>
			<string>mouse</string>
		</array>
		<key>computer</key>
		<array>
			<string>コンピュータ</string>
			<string>computer.jpg</string>
			<string>computer</string>
		</array>
		<key>notebook</key>
		<array>
			<string>ノート</string>
			<string>notebook.jpg</string>
			<string>notebook</string>
		</array>
		<key>pen</key>
		<array>
			<string>ペン</string>
			<string>pen.jpg</string>
			<string>pen</string>
		</array>
		<key>ruler</key>
		<array>
			<string>定規</string>
			<string>ruler.jpg</string>
			<string>ruler</string>
		</array>
	</dict>
	<key>Active</key>
	<dict>
		<key>go</key>
		<array>
			<string>行く</string>
			<string>go.jpg</string>
			<string>go</string>
		</array>
		<key>sit</key>
		<array>
			<string>座る</string>
			<string>sit.jpg</string>
			<string>sit</string>
		</array>
		<key>run</key>
		<array>
			<string>実行</string>
			<string>run.jpg</string>
			<string>run</string>
		</array>
		<key>swim</key>
		<array>
			<string>泳ぐ</string>
			<string>swim.jpg</string>
			<string>swim</string>
		</array>
		<key>climb</key>
		<array>
			<string>登る</string>
			<string>climb.jpg</string>
			<string>climb</string>
		</array>
	</dict>
	<key>Occupational</key>
	<dict>
		<key>doctor</key>
		<array>
			<string>医者</string>
			<string>doctor.jpg</string>
			<string>doctor</string>
		</array>
		<key>singer</key>
		<array>
			<string>歌手</string>
			<string>singer.jpg</string>
			<string>singer</string>
		</array>
		<key>soccer</key>
		<array>
			<string>サッカー</string>
			<string>soccer.jpg</string>
			<string>soccer</string>
		</array>
		<key>nurse</key>
		<array>
			<string>看護師</string>
			<string>nurse.jpg</string>
			<string>nurse</string>
		</array>
		<key>worker</key>
		<array>
			<string>労働者</string>
			<string>worker.jpg</string>
			<string>worker</string>
		</array>
		<key>famer</key>
		<array>
			<string>フレーマ</string>
			<string>famer.jpg</string>
			<string>famer</string>
		</array>
	</dict>
	<key>Orther</key>
	<dict>
		<key>tree</key>
		<array>
			<string>ツリー</string>
			<string>tree.jpg</string>
			<string>tree</string>
		</array>
		<key>water</key>
		<array>
			<string>水</string>
			<string>water.jpg</string>
			<string>water</string>
		</array>
		<key>fire</key>
		<array>
			<string>火災</string>
			<string>fire.jpg</string>
			<string>fire</string>
		</array>
		<key>snow</key>
		<array>
			<string>雪</string>
			<string>snow.jpg</string>
			<string>snow</string>
		</array>
		<key>earth</key>
		<array>
			<string>地球</string>
			<string>earth.jpg</string>
			<string>earth</string>
		</array>
		<key>car</key>
		<array>
			<string>車</string>
			<string>car.jpg</string>
			<string>car</string>
		</array>
		<key>motobike</key>
		<array>
			<string>モト</string>
			<string>motobike.jpg</string>
			<string>motobike</string>
		</array>
		<key>table</key>
		<array>
			<string>テーブル</string>
			<string>table.jpg</string>
			<string>table</string>
		</array>
		<key>bed</key>
		<array>
			<string>ベッド</string>
			<string>bed.jpg</string>
			<string>bed</string>
		</array>
	</dict>
</dict>
</plist>
